/* changes the general color */
body {
	background-color: whitesmoke;
}

/* changes the title style and letter */
.game-name {
	font-family: 'Open Sans', sans-serif;
	color: rgb(56, 137, 234);
	text-shadow: 2px 2px black;
  	text-transform: uppercase;
	font-size: 100px;
	font-weight: 800;
	letter-spacing: -3px;
	line-height: 1;
	position: relative;
}

#title {
	text-align: center;
}

.username {
	text-align: initial;
}

/* puts logout button and the username on the right side of the page */
#logoutDiv {
	float: right;
	margin-top: 15px;
}

h2 {
	color: #46485c;
	font-size: 15px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 10px;
}

/* creates the background box on the log in and gameOptions divs */
.box {
	width: 250px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -184px 0px 0px -155px;
	background: rgb(235, 232, 232);
	padding: 20px 30px;
	border-radius: 5px;
}

/* adds line below and changes configuration of the username and passwords boxes */
input[type="text"], input[type="password"] {
	width: 250px;
	background: transparent;
	border: 0;
	border-bottom: 1px solid black;
	outline: none;
	color: #46485c;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* changes buttons background and overall look */
input[type="button"] {
	background: rgb(56, 137, 234);
	border: 0;
	width: 250px;
	height: 40px;
	border-radius: 3px;
	color: white;
	cursor: pointer;
	transition: background 0.3s ease-in-out;
	margin-top: 10px;
}

/* changes logout button size*/
#title > #logoutDiv > input[type="button"] {
	width: 100px;
}

input[type="button"]:hover {
	background: rgb(31, 97, 177);
}

.label-text {
	font-size: 30px;
}

.label-options {
	margin-left: 30px;
}

/* puts the footer on the bootom of the page */
#footer {
	position: absolute;
    width: 100%;
    bottom: 0px;
	background-color: rgb(235, 232, 232); 
	display: inline;
}

/* puts the list of options on the footer in line*/
.footer-info > li {
	float: right;
	list-style-type: none;
	display: inline-block;
	margin-right: 50px;
}

.footer-title {
	padding-left: 20px;
	vertical-align: middle;
	text-align: center;
	padding-right: 20px;
	color: rgb(56, 137, 234);
	font-size: 30px;
	margin-left: 40px;
	text-align: center;
}

.footer-info a {
	color: rgb(156, 155, 155);
	font-size: 20px;
}	

a {
	color: white;
	text-decoration:none; 
}

.footer-info a:hover {
	text-decoration: underline;
}

li {
	float: left;
	list-style-type: disc;
}

ul { 
	margin-top: 0; 
}

