.game-name {
	font-family: 'Open Sans', sans-serif;
	color: rgb(56, 137, 234);
	text-shadow: 2px 2px black;
  	text-transform: uppercase;
	font-size: 100px;
	font-weight: 800;
	letter-spacing: -3px;
	line-height: 1;
	position: relative;
}

#title {
	text-align: center;
}

body {
	background-color: whitesmoke;
}

h2 {
	color: #46485c;
	font-size: 15px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 10px;
}

.login {
	width: 250px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -184px 0px 0px -155px;
	background: rgba(0,0,0,0.2);
	padding: 20px 30px;
	border-radius: 5px;
	box-shadow: 0px 1px 0px rgba(0,0,0,0.3),inset 0px 1px 0px rgba(255,255,255,0.07)
  }
  
  input[type="text"], input[type="password"] {
	width: 250px;
	padding: 25px 0px;
	background: transparent;
	border: 0;
	border-bottom: 1px solid rgba(255,255,255,0.04);
	outline: none;
	color: #46485c;
  }

  input[type=checkbox] {
	display: none;
  }
  
  input[type="submit"] {
	background: rgb(56, 137, 234);
	border: 0;
	width: 250px;
	height: 40px;
	border-radius: 3px;
	color: white;
	cursor: pointer;
	transition: background 0.3s ease-in-out;
  }

  input[type="submit"]:hover {
	background: rgb(31, 97, 177);
  }

#footer {
	position: absolute;
    width: 100%;
    bottom: 0px;
	z-index: 200;
	background-color: rgb(235, 232, 232); 
	display: inline;
	align-items: center;
}

.footer-info > li {
	float: right;
	list-style-type: none;
	display: inline-block;
	margin-right: 50px;
	color: red;
}

.footer-title {
	padding-left: 20px;
	vertical-align: middle;
	text-align: center;
	padding-right: 20px;
	color: rgb(56, 137, 234);
	font-size: 30px;
	margin-left: 40px;
	text-align: center;
}

.footer-info a {
	color: rgb(156, 155, 155);
	font-size: 20px;
}	

a {
	color: white;
	text-decoration:none; 
}

.footer-info a:hover {
	background-color: rgb(204, 202, 202);
}

li {
	float: left;
	list-style-type: disc;
}

ul { 
	margin-top: 0; 
}

