/* changes the general color */
body {
	background-color: whitesmoke;
	min-height: 100%;
}

.header {
	width: 100%;
	position: fixed;
	margin-top: 40px;
	top: 0%;
}

/* changes the title style and letter */
.game-name {
	font-family: 'Open Sans', sans-serif;
	color: rgb(56, 137, 234);
	text-shadow: 2px 2px black;
  	text-transform: uppercase;
	font-size: 100px;
	font-weight: 800;
	letter-spacing: -3px;
	line-height: 1;
}

#titleDiv {
	text-align: center;
}

.username {
	text-align: initial;
	width: 100%;
}

#turn {
	color: rgb(56, 137, 234);
	float: initial;
	font-size: 40px;
	text-align: center;
}

/* puts logout button and the username on the right side of the page */
#managerDiv {
	float: right;
	margin-right: 20px;
}

h2 {
	color: #46485c;
	font-size: 30px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 10px;
}

#gameRulesDiv {
	min-height: 100%;
}

#gameRulesDiv h2 {
	color: rgb(56, 137, 234);
	text-align: initial;
	margin-top: 2px;
}

#gameRulesDiv h2.first {
	margin-top: 5%;
}

#gameRulesDiv p {
	text-indent: 5%;
	font-size: 20px;
	margin-top: 0;
}

.gameRulesImgs {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* creates the background box on the log in and gameOptions divs */
.box {
	width: 250px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -190px 0px 0px -155px;
	background: rgb(235, 232, 232);
	padding: 50px 50px;
	border-radius: 5px;
}

/* adds line below and changes configuration of the username and passwords boxes */
#loginPageDiv > #login.box input[type="text"], #loginPageDiv > #login.box input[type="password"] {
	width: 250px;
	background: transparent;
	border: 0;
	border-bottom: 1px solid black;
	outline: none;
	color: #46485c;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* changes buttons background and overall look */
input[type="button"] {
	background: rgb(56, 137, 234);
	border: 0;
	width: 250px;
	height: 40px;
	border-radius: 3px;
	color: white;
	cursor: pointer;
	transition: background 0.3s ease-in-out;
	margin-top: 10px;
}

/* changes logout button size*/
#managerDiv > input[type="button"], #leaveDiv > input[type="button"] {
	width: 100px;
}

input[type="button"]:hover {
	background: rgb(31, 97, 177);
}

.form-text {
	font-size: 30px;
}

.form-options {
	margin-left: 30px;
}

#gameOptionsDiv.box {
	padding: 0px 50px;
	position: relative;
	margin-top: 5%;
}

#gameOptionsDiv > #boardSizeDiv input[type="text"] {
	margin: 0px 0px 10px 30px;
	width: 200px;
}

#gameOptionsDiv > #submitDiv input[type="button"] {
	margin-bottom: 5px;
}

#gameDiv {
	position: fixed;
	width: 100%;
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -700px;
}

#game-board{
	background: #0074B3;
	cursor: pointer;
	text-align: center;
	margin: 0 auto;
}

.column {
	width: 70px;
	display: inline-block;
}

.column:hover  circle.free{
	fill: #D5E4ED;
}

circle.free {
	fill: #fff;
}

circle.red {
	fill: #D50000;
}

circle.yellow {
	fill: #DAD400;
}

/* puts the footer on the bootom of the page */
#footer {
	z-index: 10;
	position: fixed;
	left: 0;	
	bottom: 0;
	width: 100%;
	background-color: rgb(235, 232, 232);
	min-height: 60px;
}

/* puts the list of options on the footer in line*/
.footer-info > li {
	float: right;
	list-style-type: none;
	margin: -25px 70px 0px 0px;
	padding: 2px;
	display: block;
}

.footer-title {
	padding-left: 20px;
	padding-right: 20px;
	color: rgb(56, 137, 234);
	font-size: 30px;
	margin: 10px 0px 0px 70px;
	display: block;
}

.footer-info a {
	color: rgb(156, 155, 155);
	font-size: 20px;
	margin: 0px;
	text-decoration: none;
}

.footer-info a:hover {
	text-decoration: underline;
	cursor: pointer;
}

a:hover.footer-title {
	cursor: pointer;
}

ul,li { 
	margin-top: 0;
	padding: 0; 
}


