/* changes the general color */
html, body {
	height: 100%;
	margin: 0;
	background-color: whitesmoke;
}

#wrapper {
	min-height: 100%;
	margin-bottom: -60px;
}

/*-------Header--------*/
/* puts the footer on the bootom of the page */
#header {
	background-color: rgb(235, 232, 232);
	width: 100%;
	display: inline-block;
	position: relative;
	height: 60px;
	margin-bottom: 100px;
}

.header-title {
	color: rgb(56, 137, 234);
	font-size: 30px;
	width: 20%;
	margin-left: 20px;
	margin-top: 10px;
	position: fixed;
}

.listFunctions {
	text-align: center;
	vertical-align: middle;
	width: 50%;
	margin-top: 20px;
	margin-left: -10px;  
  	display: inline-block;
  	position: absolute;
}

.header-info {
	display: inline;
}

/* puts the list of options on the header in line*/
.header-info > li {
	list-style-type: none;
	margin: -1.8% 5% 0% 0%;
	padding: 0.2%;
	display: inline;
}

.header-info a {
	color: rgb(156, 155, 155);
	font-size: 20px;
	margin: 0px;
	text-decoration: none;
}

.header-info a:hover {
	text-decoration: underline;
	cursor: pointer;
}

a:hover.header-title {
	cursor: pointer;
}

/* changes the title style and letter */
.game-name {
	font-family: 'Open Sans', sans-serif;
	color: rgb(56, 137, 234);
	text-shadow: 2px 2px black;
  	text-transform: uppercase;
	font-size: 100px;
	font-weight: 800;
	letter-spacing: -3px;
	line-height: 1; 
}

.small-title {
	margin-top: 10px;
}

#titleDiv {
	text-align: center;
}

#username {
	text-align: initial;
	width: 100%;
}

/* turn text that shows on top of the game board */
#turn {
	color: rgb(56, 137, 234);
	float: initial;
	font-size: 40px;
	text-align: center;
	margin-bottom: 20px;
}

/* puts logout button and the username on the right side of the page */
#managerDiv {
	float: right;
	margin-right: 20px;
}

/* changes logout button size*/
#managerDiv > input[type="button"] {
	width: 100px;
}

h2 {
	color: #46485c;
	font-size: 30px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 10px;
}

/**-------Game Rules-------*/
#gameRulesDiv {
	margin-left: 40px;
}

#gameRulesDiv h2, #leaderboardDiv h2 {
	color: rgb(56, 137, 234);
	text-align: initial;
}

#gameRulesDiv h2.first {
	margin-top: 1%;
}

#gameRulesDiv p {
	text-indent: 5%;
	font-size: 20px;
	margin-top: 0;
}

.gameRulesImgs {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/**-------Log In-------*/
/* creates the background box on the log in and gameOptions divs */

#loginPageDiv {
	top: 50%;
	left: 50%;
	position: fixed;
}

.box {
	width: 17%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgb(235, 232, 232);
	padding: 50px 50px;
	border-radius: 5%;
}

/* adds line below and changes configuration of the username and passwords boxes */
#loginPageDiv > #login.box input[type="text"], #loginPageDiv > #login.box input[type="password"] {
	width: 100%;
	background: transparent;
	border: 0;
	border-bottom: 1px solid black;
	outline: none;
	color: #46485c;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* changes buttons background and overall look */
input[type="button"] {
	background: rgb(56, 137, 234);
	border: 0;
	width: 100%;
	height: 40px;
	border-radius: 3px;
	color: white;
	cursor: pointer;
	transition: background 0.3s ease-in-out;
	margin-top: 10px;
}

input[type="button"]:hover {
	background: rgb(31, 97, 177);
}

.form-text {
	font-size: 30px;
}

.form-options {
	margin-left: 30px;
}

/**-------Game Options-------*/
#gameOptionsDiv.box {
	margin-top: -3%;
	padding: 1% 5% 1% 5%;
}

#gameOptionsDiv > #submitDiv input[type="button"] {
	margin-bottom: 5px;
}

/**-------Game-------*/
#gameDiv {
	position: relative;
	display: block;
	overflow-x: scroll;
	margin-top: 5%;
	margin-bottom: 20px;
}

#game-board{
	background: #0074B3;
	cursor: pointer;
	text-align: center;
	margin: 0 auto;
}

.column {
	width: 70px;
	display: inline-block;
}

.column:hover  circle.free{
	fill: #D5E4ED;
}

circle.free {
	fill: #fff;
}

circle.red {
	fill: rgb(194, 3, 3);
}

circle.yellow {
	fill: #DAD400;
}

circle.winner {
	animation: blinker 1s linear infinite;
}

@keyframes blinker {
	50% {
	  opacity: 0;
	}
  }

/**-------Leaderboard-------*/
#leaderboardDiv {
	margin-left: 40px;
}

/* changes column style */
#players {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
	width: 75%;
	margin-left: 60px;
}

#players td, #players th {
    border: 1px solid #ddd;
    padding: 8px;
}

#players tr:nth-child(even){background-color: #f2f2f2;}

#players tr:hover {background-color: #ddd;}

#players th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(56, 137, 234);
    color: white;
}

/**-------Game Finish--------*/
#gameFinishDiv {
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	margin-top: -5%;
}

#scoreDiv {
	text-align: initial;
}

#scoreDiv .number {
	float: right;
}

#gameFinishDiv h2 {
	color: rgb(56, 137, 234);
	font-size: 40px;
}

.number {
	color: rgb(56, 137, 234);
	font-weight: 900;
}


/**-------Game Rules--------*/
#gameRulesDiv ul {
	padding-left: 150px;
	font-family: monospace; 
}


