.game-name {
	font-family: 'Open Sans', sans-serif;
 	color: #555;
 	text-decoration: none;
  	text-transform: uppercase;
	font-size: 100px;
	font-weight: 800;
	letter-spacing: -3px;
	line-height: 1;
	text-shadow: #EDEDED 3px 2px 0;
	position: relative;
}

#title {
	text-align: center;
}

.circle {
  	height: 25px;
  	width: 25px;
  	border-radius: 100%;
  	display: inline-block;
}

.red-piece {
	background: red;
}

.blue-piece {
	background: blue;
}

